.subscribe-btn {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  height: 56px;

  padding: 0 32px;

  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: 700;

  color: var(--color-dark);
  background: var(--color-linear-primary);

  text-decoration: none;

  transition: all 0.2s ease-in-out;

  &:hover {
    color: var(--color-dark);
    filter: brightness(0.9);
  }
}
